#playlist, audio{
  background:#167;
  width:800px;
  padding:20px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  bolder: 400;
}

#playlist, audio tbody,
#playlist, audio thead tr { display: block; }

#playlist, audio tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: scroll;



a {
  text-decoration:none;
}
.active a {
  color:#5DB0E6;
   text-decoration-line: overline underline; 
  text-decoration-color: red;
}
li a{
  color:#eeeedd;
  background:#30042D;
  padding:5px;
  display:block;
}
li a:hover{
   text-decoration-line: overline underline; 
  text-decoration-color: red;
}
